{{#if model}}@model {{model}}

{{/if}}@{
{{#if layoutPage}}
    Layout = "{{layoutPage}}";
{{/if}}
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>{{modelName}}</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            {{#each properties}}
            {{#if isPrimaryKey}}
            <input type="hidden" asp-for="{{this}}" />
            {{else}}
            <div class="form-group">
                <label asp-for="{{this}}" class="control-label"></label>
                <input asp-for="{{this}}" class="form-control" />
                <span asp-validation-for="{{this}}" class="text-danger"></span>
            </div>
            {{/if}}
            {{/each}}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}