{{#if model}}@model {{model}}

{{/if}}@{
{{#if layoutPage}}
    Layout = "{{layoutPage}}";
{{else}}
    ViewData["Title"] = "{{actionName}}";
{{/if}}
}

<h1>{{actionName}}</h1>

{{#if model}}
<p>Model type: {{model}}</p>
{{/if}}